<section id="vinbeam">
  <div class="jumbotron"></div>
</section>
<section id="what" class="big-triangle">
  <div class="container">
    <section-header title="what it does" subtitle="Your inventory working for you!" section="what"></section-header>
    <blurb-helper datasource="features" lg-columns="3" md-columns="6"></blurb-helper>
  </div>
  <img id="car_banner" src="../../assets/images/car_divider.png" alt="">
</section>
<section id="how">
  <div class="container">
    <section-header title="how it works" subtitle="3 Components. Easy to install. Simple to use." section="how"></section-header>
    <blurb-helper datasource="steps" lg-columns="4" md-columns="4"></blurb-helper>
  </div>
</section>
<section id="why">
  <div class="arrow-down"></div>
  <div class="container">
    <section-header title="the benefits" subtitle="Your vehicle now works for you!" section="why"></section-header>
    <blurb-helper datasource="benefitRowOne" lg-columns="4" md-columns="4"></blurb-helper>
    <blurb-helper datasource="benefitRowTwo" lg-columns="4" md-columns="4"></blurb-helper>
  </div>
</section>
<section id="footer">
  <div class="container"></div>
</section>
