
@import url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");

$gray:   #646d76;
$sans:   "Raleway", sans-serif;
$formBG: $vinbeam-grey;
$legendBG: $primary-color;

#contact-form{
  margin-top: 150px;
}

form {
  &.hidden {
    position:absolute;
    width:20em;
    top:-100em;
  }
}
legend {
  background:$legendBG;
  color:white;
  padding:1em 1.25em;
  font-size:1.75em;
  border-radius:0.2em 0.2em 0 0;
  position:relative;
  display:block;
  width:100%;
  &:after {
    content:"";
    position:absolute;
    width:0;
    height:0;
    border-style:solid;
    border-color:$legendBG transparent transparent;
    border-width:0.4em;
    left:2.2em;
    top:100%;
  }
}
fieldset {
  background:$formBG;
  width:100%;
  padding:1.75em 0 0.25em;
}
label {
  display:block;
  color:$gray;
  position:relative;
  margin:0 2em 0.75em;
  input, textarea {
    display:block;
    font-size:1em;
    width:100%;
    margin:0.25em 0;
    padding:0.5em 0.75em;
    border:none;
    background:lighten($gray,55%);
    border-radius:0.2em;
    font-family:$sans;
    &:focus {
      outline:none;
      box-shadow: 0 0 0.5em rgba(black, 0.2);
    }
  }
  textarea {
    min-height:6em;
  }
}

.form-controls {
  padding:0.25em 2em 1.5em;
  background:$formBG;
  border-radius:0 0 0.2em 0.2em;
  .btn {
    color:white;
    padding: 1em 0;
    border-radius:0.25em;
    border:none;
    display:block;
    cursor:pointer;
    font-family:$sans;
  }
  .btn-send {
    background:#60a531;
    width:100%;
    font-size:1.25em;
    &:hover {
      background:darken(#60a531,5%);
    }
  }
  [disabled] {
    cursor:default;
  }
}
.required, .ok, .invalid, {
  &:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    padding:0.2em;
    position:absolute;
    top: 0.1em;
    right: 0.1em;
    font-size: 1.5em;
  }
}

.required {
  &:before {
    content: "\f069";
    //content:"\f111";
    color:lighten(#ddd,7%);
  }
}

.invalid {
  &:before {
    content: "\f057";
    color:rgba(adjust-hue(#60a531,260),0.5);
  }
}
.ok {
  &:before {
    content: "\f058";
    color:#60a531;
  }
}


.sent {
  &.hidden {
    position:absolute;
    z-index:-1;
  }
  h1 {
    font-size:3em;
    text-align:center;
    small {
      font-size:0.5em;
      font-weight:400;
      display:block;
      text-align:right;
      margin-top:0.5em;
    }
  }
}

.no-placeholder {
  display:none;
  .ie-lt9 & {display:block;}
}
