.jumbotron{
  background: url("../../assets/images/banner.png") center, center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  overflow: hidden;
  border-bottom: 20px solid $primary-color;
  // border-radius: 3%;
}

#car_banner{
  width: 100%;
  z-index: 1;
}

#what{
  position: relative;
  background-color: white;
  padding-top: 100px;
  z-index: 10;
}

#how{
  position: relative;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #2288DA;
  z-index: 10;
  h3{
    color: white;
  }
  .blurb-bullets{
    @include box-shadow-small(black);
    color: white;
  }
}

#why{
  background-image: url('../../assets/images/tire_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  z-index: 1
  ul{
    @include box-shadow-small(black);
    color: white;
  }
}

.what-header{
  padding: 2em;
  margin-bottom: 1em;
  h1{
    font-size: 60px;
    color: $primary-color;
  }
  h3{
    margin-top: -10px;
    margin-left: 5px;
  }
}

.how-header{
  padding: 2em;
  margin-bottom: 1em;
  h1{
    font-size: 60px;
    color: white;
  }
  h3{
    margin-top: -10px;
    margin-left: 5px;
  }
}

.why-header{
  padding: 2em;
  margin-bottom: 1em;
  h1{
    font-size: 60px;
    color: $primary-color;
  }
  h3{
    margin-top: -10px;
    margin-left: 5px;
  }
}

.what-arrow-down{
  width: 100px;
	height: 50px;
  margin: auto;
  margin-top: -131px;
  background-color: $primary-color;
  border-bottom: 10px inset $vinbeam-grey;
  border-radius: 0 0 120px 120px;

  z-index: 10;
}

.why-arrow-down {
  width: 100px;
  height: 50px;
  margin: auto;
  margin-top: -100px;
  background-color: $primary-color;
  border-bottom: 10px inset $vinbeam-grey;
  border-radius: 0 0 120px 120px;

  z-index: 10;
}

@media (max-width: 640px){
  .jumbotron{
    width: 100%;
    height: 600px;
  }
}
