//VARIABLES

//colors
$primary-color: #2288DA;
$primary-light: #4099de;
$primary-medium: #1787dd;
$primary-dark: #125a91;
$vinbeam-grey: #e2dcdc;
$vinbeam-green: #35ab72;
$box-shadow-grey: rgba(#949494, 0.89);

$open_sans: 'Open Sans', Geneva, sans-serif;
