//VARIABLES

//colors
$primary-color: #1786DE;
$primary-light: #4099de;
$primary-medium: #1773de;
$primary-dark: #1560d1;
$vinbeam-grey: #e6e6e6;
$box-shadow-grey: rgba(#949494, 0.89);

$open_sans: 'Open Sans', Geneva, sans-serif;
